html {
    box-sizing: border-box;
    
    color: black;
    font: normal 100%/1.5;
    background-color: #9cd8dc;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 1em;
}

.border {
    border-radius: 20px;
    border: 2px solid white;
    margin: 1em;
    width: 80%;
    background-color: #c7eff1;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: block;
    text-align: center;
    font-size: 2em;
}

.form {
    text-align: center;
    padding: 1em;
}

ol {
    text-align: center;
    width: 100%;
    padding: 0 1em;
}

li {
    list-style-type: none;
    padding: .5em 0;
    text-align: left;
}

h2 {
    width: auto;
    padding-top: 1em;
    margin: 0;
    font-size: 1em;
    font-style: normal;
    display: inline-block;
}

.strike-through {
    text-decoration:line-through;
    color: #9cd8dc;
}

.list {
    background-color: white;
}

input {
    height: 40px;
    width: 80%;
    border: 2px solid #9cd8dc;
    margin: 0;
}

.add-button {
    height: 42px;
    margin: 0;
    width: 70px;
    border: 1px solid white;
    border-radius: 0 5px 5px 0;
    font-family: serif; 
    background-color: #9cd8dc;
    font-size: 1em;
}

.remove {
    margin: 0;
    padding: .4em;
    font-family: serif;
    font-size: 1em;
    float: right;
    clear: right;
    border-radius: 5px;
    background-color: #c7eff1;
    border: 1px solid #9cd8dc;
}